<template>
  <div class="container">
    <h2 class="text-center">Company Data</h2>
    <hr />
    <form @submit="save" enctype="multipart/form-data">
      <div class="form-group">
        <label>Name</label>
        <input
          type="text"
          id="name"
          v-model="item.name"
          class="form-control"
          placeholder="Enter Name"
        />
      </div>
      <div class="form-group">
        <label>Email</label>
        <input
          type="email"
          id="email"
          v-model="item.email"
          class="form-control"
          placeholder="Enter Email"
        />
      </div>
      <div class="form-group">
        <label>Logo</label>
        <input
          type="file"
          name="filename"
          id="logo"
          v-on:change="onFileChange"
        />
      </div>
      <div class="form-group">
        <label>Website</label>
        <input
          type="text"
          class="form-control"
          id="website"
          v-model="item.website"
          placeholder="Enter Website Address"
        />
      </div>
      <button type="submit" class="btn btn-primary">
        {{ isEditing ? "Update" : "Submit" }}
      </button>
    </form>
    <hr />
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">Companies</div>

          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Website</th>
                  <th scope="col">Logo</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="company in companyData.data" :key="company.id">
                  <th scope="row">{{ company.id }}</th>
                  <td>{{ company.name }}</td>
                  <td>{{ company.email }}</td>
                  <td>{{ company.website }}</td>
                  <td><img :src="`upload/${company.logo}`" /></td>
                  <td>
                    <button
                      @click="updateCompany(company)"
                      class="btn btn-primary"
                    >
                      Edit
                    </button>
                    &nbsp;
                    <button
                      @click="deleteCompany(company.id)"
                      class="btn btn-danger"
                    >
                      Delete
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <pagination
              :data="companyData"
              @pagination-change-page="getCompany"
            ></pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Companie",
  data() {
    return {
      lists: [],
      item: {
        name: "",
        email: "",
        logo: "",
        website: "",
      },

      companyData: {},
      temp_id: null,
      isEditing: false,
    };
  },
  created() {
    this.getCompany();
  },

  methods: {
    onFileChange(e) {
      this.item.logo = e.target.files[0];
    },

    save(e) {
      e.preventDefault();
      if (this.isEditing == true) {
        let currentObj = this;

        const config = {
          headers: { "content-type": "multipart/form-data" },
        };

        let formData = new FormData();

        formData.append("name", this.item.name);
        formData.append("email", this.item.email);
        formData.append("logo", this.item.logo);
        formData.append("website", this.item.website);
        formData.append("_method", "PUT");

        axios
          .post(`/api/companie/${this.temp_id}`, formData, config)

          .then((res) => this.getCompany(1))

          .catch(function (error) {
            currentObj.output = error;
          });
      } else {
        let currentObj = this;

        const config = {
          headers: { "content-type": "multipart/form-data" },
        };

        let formData = new FormData();

        formData.append("name", this.item.name);
        formData.append("email", this.item.email);
        formData.append("logo", this.item.logo);
        formData.append("website", this.item.website);

        axios
          .post("/api/companie", formData, config)

          .then((res) => this.getCompany(1))

          .catch(function (error) {
            currentObj.output = error;
          });
      }
    },
    getCompany(page) {
      axios
        .get(`/api/companie?page=${page}`)
        .then(({ data }) => {
          this.companyData = data;
        })
        .catch(({ response }) => {
          console.error(response);
        });
    },
    updateCompany(company) {
      this.item = {
        name: company.name,
        email: company.email,
        logo: company.logo,
        website: company.website,
      };
      this.temp_id = company.id;
      this.isEditing = true;
    },
    deleteCompany(id) {
      try {
        axios.delete(`api/companie/${id}`).then((res) => this.getCompany(1));
      } catch (error) {
        console.log(error);
      }
    },
  },
};
</script>

<style scoped>
</style>
