<template>
  <div class="container">
    <h2 class="text-center">Employees Data</h2>
    <hr />
    <form @submit="saveEmployee" enctype="multipart/form-data">
      <div class="form-group">
        <label>First Name</label>
        <input
          type="text"
          id="first_name"
          v-model="item.first_name"
          class="form-control"
          placeholder="Enter First Name"
        />
      </div>
      <div class="form-group">
        <label>Last Name</label>
        <input
          type="text"
          id="last_name"
          v-model="item.last_name"
          class="form-control"
          placeholder="Enter Last Name"
        />
      </div>
      <div class="form-group">
        <label>Email</label>
        <input
          type="email"
          id="email"
          v-model="item.email"
          class="form-control"
          placeholder="Enter Email"
        />
      </div>
      <div class="form-group">
        <label>Phone</label>
        <input
          type="text"
          class="form-control"
          id="phone"
          v-model="item.phone"
          placeholder="Enter Phone Number"
        />
      </div>
      <div class="form-group">
        <label>Company</label>
        <select
          class="form-control"
          v-model="item.companies"
          id="companies"
          @change="selectChange($event)"
        >
          <option
            v-for="companie in companyData.data"
            :key="companie.id"
            v-bind:value="companie.id"
          >
            {{ companie.name }}
          </option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">
        {{ isEditing ? "Update" : "Submit" }}
      </button>
    </form>
    <hr />
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">Companies</div>

          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">First Name</th>
                  <th scope="col">Last Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Phone</th>
                  <th scope="col">Company</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="employee in employeeData.data" :key="employee.id">
                  <th scope="row">{{ employee.employees_id }}</th>
                  <td>{{ employee.first_name }}</td>
                  <td>{{ employee.last_name }}</td>
                  <td>{{ employee.employees_email }}</td>
                  <td>{{ employee.phone }}</td>
                  <td>{{ employee.name }}</td>
                  <td>
                    <button
                      @click="updateEmployee(employee)"
                      class="btn btn-primary"
                    >
                      Edit
                    </button>
                    &nbsp;
                    <button
                      @click="deleteEmployee(employee.employees_id)"
                      class="btn btn-danger"
                    >
                      Delete
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <pagination
              :data="companyData"
              @pagination-change-page="getResults"
            ></pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Employees",
  data() {
    return {
      item: {
        first_name: "",
        last_name: "",
        email: "",
        phone: "",
        companies: "",
      },
      employeeData: {},
      companyData: {},
      temp_id: null,
      isEditing: false,
    };
  },
  created() {
    this.getEmployees(1);
    this.getResults(1);
  },
  methods: {
    selectChange(event) {
      this.item.companies = event.target.value;
    },

    getEmployees(page) {
      axios
        .get(`/api/employees?page=${page}`)
        .then(({ data }) => {
          this.employeeData = data;
        })
        .catch(({ response }) => {
          console.error(response);
        });
    },
    getResults(page) {
      axios
        .get(`/api/companie?page=${page}`)
        .then(({ data }) => {
          this.companyData = data;
          console.log(data);
        })
        .catch(({ response }) => {
          console.error(response);
        });
    },
    saveEmployee(e) {
      e.preventDefault();
      if (this.isEditing == true) {
        let currentObj = this;

        const config = {
          headers: { "content-type": "multipart/form-data" },
        };

        let formData = new FormData();
        formData.append("first_name", this.item.first_name);
        formData.append("last_name", this.item.last_name);
        formData.append("email", this.item.email);
        formData.append("phone", this.item.phone);
        formData.append("companies", this.item.companies);
        formData.append("_method", "PUT");

        axios
          .post(`/api/employees/${this.temp_id}`, formData, config)

          .then((res) => this.getEmployees(1))

          .catch(function (error) {
            currentObj.output = error;
          });
      } else {
        let currentObj = this;

        const config = {
          headers: { "content-type": "multipart/form-data" },
        };

        let formData = new FormData();

        formData.append("first_name", this.item.first_name);
        formData.append("last_name", this.item.last_name);
        formData.append("email", this.item.email);
        formData.append("phone", this.item.phone);
        formData.append("companies", this.item.companies);

        axios
          .post("/api/employees", formData, config)
          .then((res) => this.getEmployees(1))

          .catch(function (error) {
            currentObj.output = error;
          });
      }
    },
    updateEmployee(employee) {
      this.item = {
        first_name: employee.first_name,
        last_name: employee.last_name,
        email: employee.email,
        phone: employee.phone,
        companies: String(employee.companies),
      };
      this.temp_id = employee.employees_id;
      this.isEditing = true;
    },
    deleteEmployee(id) {
      try {
        axios.delete(`api/employees/${id}`).then((res) => this.getEmployees(1));
      } catch (error) {
        console.log(error);
      }
    },
  },
};
</script>


<style scoped>
</style>